/* @import 'bootstrap/dist/css/bootstrap.min.css';
@import 'custom-bootstrap.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ビューポート外の背景色 */
/* html {
  background-color: #111827; 
} */

/* デフォルトはライトモード（白背景） */
html, body {
  background-color: #ffffff;
  color: #111827; /* 文字色も調整 */
}

/* ダークモードの場合は黒背景 */
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #111827;
    color: #ffffff;
  }
}
